* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 229, 229);
    height: 100vh;
}

.upper {
    text-transform: uppercase;
}

.txt-centre {
    text-align: center;
}

.mt1 {
    margin-top: 1rem;
}

header {
    width: 40%;
    margin: auto;

}

main {
    height: 90vh;
}

.container {
    margin: 0 auto;
    width: 70%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex-basis: 32%;
    background-color: white;
    margin-bottom: 2rem;
}

 .box img {
    width: 100%;
    display: block;
 }

 .box-scritte {
    padding: 1rem;
    text-align: center;
 }